<h2> Products and Categories Count</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th >Products</th>
      <th >Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @products %></td>
      <td><%= @categories %></td>
    </tr> 
  </tbody>
</table>


















