<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>


<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Products</th>
      <th colspan="2">Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @products %></td>
      <td>&nbsp;</td>
      <td><%= @categories %></td>
    </tr> 
  </tbody>
</table>


















