<html>
  <head>
    <title>About</title>
  </head>
  <body>
    <h1>About us</h1>
    <p>Jungle is a plant loving company that wants to fill your home with so many plants it is like you are walking into the jungle!  Nothing but the best selection to create a beautiful space!</p>   
  </body>
</html>